<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <style>
        .error {
            color: red
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span
                            th:text="${product.title == null} ? 'Добавление товара' : 'Изменение товара'"></span>
                    </h4>
                </header>
                <article class="card-body">
                    <form th:action="@{/products/edit}" th:object="${product}" method="post"
                          enctype="multipart/form-data">
                        <input th:field="*{id}" type="hidden" class="form-control">

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Title</label>
                                <input th:field="*{title}" type="text" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('title')}"
                                       th:errors="*{title}"> </small>
                            </div>
                            <div class="col form-group">
                                <label>Price</label>
                                <input th:field="*{price}" type="number" class="form-control" placeholder="">
                                <small class="error" th:if="${#fields.hasErrors('price')}"
                                       th:errors="*{price}"> </small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="input-group">
                                <div class="form-group col-md-12">
                                    <label>Choose category</label>
                                    <select multiple class="form-control" id="categories" th:field="*{categories}"
                                            required>
                                        <option th:each="cat: ${categories}"
                                                th:text="${cat.title}"
                                                th:value="${cat.id}"
                                                th:selected="${cat}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Image</label>
                                <input type="file" name="file" class="form-control-file" accept="image/*"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" name="addProduct" class="btn btn-primary btn-block">Save product
                            </button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>

</body>
</html>